	
<!-- USER_HOME PAGE -->

<!doctype html>

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="css/main.css">
	
</head>

<body>
	<div class="body_container">
		<div class="header_bar">
			<div><a class="header_back_btn" href="/user_home">Cancel</div></a>
			<center><a href="/"><img class="header_logo" src="images/Logo_thicker.png"></a></center>
		</div>

		<div id="body">
			<h2 class="body_header_text">Send a Remindly to {{recipients.0.recipient}}, {{recipients.1.recipient}}, {{recipients.2.recipient}}, {{recipients.3.recipient}} at {{time}}!</h2>

			<form id="send_message_form" role="form" method="post" action="/message">
				

				<div id="message_container">

					<h4 id="message_label">Message:</h3>
					<div id="message_field_container">
						<center><textarea id="message_textbox" maxlength="160" placeholder="Max 160 chars"></textarea></center>
					</div>

				</div>


				<!-- Hidden form data to pass: user phone number, name, and recipients  -->
				<input id="user_phone" type="hidden" value={{user_phone}} name="user_phone">
				<input id="user_name" type="hidden" value={{user_name}} name="user_name">
				
				<table id ="hidden_form_data">
					<tr>
						<td class="contact_row"><input class="textbox" id="recipient1" type="hidden" value={{recipients.0.recipient}} name="recipient1"></td>
					</tr>
					<tr>
						<td class="contact_row"><input class="textbox" id="recipient2" type="hidden" value={{recipients.1.recipient}} name="recipient2"></td>
					</tr>
					<tr>
						<td class="contact_row"><input class="textbox" id="recipient3" type="hidden" value={{recipients.2.recipient}} name="recipient3"></td>
					</tr>
					<tr>
						<td class="contact_row"><input class="textbox" id="recipient4" type="hidden" value={{recipients.3.recipient}} name="recipient4"></td>
					</tr>
				</table>

				<input id="time" type="hidden" value={{time}} name="time">



				<!-- End of hidden form -->

			</form>
<!-- 
			<div id="message_container">

				<h4 id="message_label">From:</h3>
				<div id="from_field_container">
					<center><input id="from_textbox" type="text" placeholder="Enter name..."></center>
				</div>

				<h4 id="message_label">Message:</h3>
				<div id="message_field_container">
					<center><textarea id="message_textbox" maxlength="160" placeholder="Max 160 chars"></textarea></center>
				</div> -->

			</div>


			<div class="clear_footer"></div>

			<div class="nav_footer">

				<div class="nav_footer_btn_container">

					<a class="nav_footer_link" onclick="sendMessageData()"><div class="nav_footer_button_option next">Submit&nbsp;&gt;</div></a>
					<a class="nav_footer_link" href="/when"><div class="nav_footer_button_option back">&lt;&nbsp;Back</div></a>

				</div>

				<div class="nav_footer_btn_buffer"></div>

			</div>
	</div>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="js/jquery.cookie.js"></script>
		<script src="js/main.js"></script>
		<script src="js/message_send.js"></script>
</body>
</html>


