<!-- WHEN PAGE -->

<!doctype html>

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/default.css">
	<link rel="stylesheet" type="text/css" href="css/default.date.css">
	<link rel="stylesheet" type="text/css" href="css/default.time.css">
	<link rel="stylesheet" type="text/css" href="css/date.css">

</head>

<body>
	<div class="body_container">
		<div class="header_bar">
			<div><a class="header_back_btn" href="/user_home">Cancel</div></a>
			<center><a href="/"><img class="header_logo" src="images/Logo.png"></a></center>
		</div>

		<div id="body">
			<h2 class="body_header_text">Select When to Send Remindly</h2>


			
			<!-- 	### Extend [pickadate v3](http://http://amsul.github.io/pickadate.js) with [date.js](http://www.datejs.com/) to enable keyboard typing and the parsing of any date format.

			Type or pick a date: -->

			<form id="set_datetime_form" role="form" method="get" action="/message">

				<!-- Hidden form data to pass: user phone number, name, and recipients  -->
				<input id="user_phone" type="hidden" value={{user_phone}} name="user_phone">
				<input id="user_name" type="hidden" value={{user_name}} name="user_name">
				
				<table id ="hidden_form_data">
					<tr>
						<td class="contact_row"><input class="textbox" id="recipient1" type="hidden" value={{recipients.0.recipient}} name="recipient1"></td>
					</tr>
					<tr>
						<td class="contact_row"><input class="textbox" id="recipient2" type="hidden" value={{recipients.1.recipient}} name="recipient2"></td>
					</tr>
					<tr>
						<td class="contact_row"><input class="textbox" id="recipient3" type="hidden" value={{recipients.2.recipient}} name="recipient3"></td>
					</tr>
					<tr>
						<td class="contact_row"><input class="textbox" id="recipient4" type="hidden" value={{recipients.3.recipient}} name="recipient4"></td>
					</tr>
				</table>
				<!-- End of hidden form -->
				<br>

				<div id="wrap">
					<center><input type="text" name="datetime" id="datetime"/></center>
					<div id="hidden">
						<center>
							<input type="text" id="date"/>
							<input type="text" id="time"/>
						</center>
					</div>
					<!-- outlet div brings up actual calendar -->
					<div id="outlet"></div> 
				</div>

				<input type="submit" id="submitBtn" value="Submit">			
			</form>

			<div class="clear_footer"></div>

			<div class="nav_footer">

				<div class="nav_footer_btn_container">

					<a class="nav_footer_link" onclick="submitWhenData()"><div class="nav_footer_button_option next">Compose&nbsp;&gt;</div></a>
					<a class="nav_footer_link" href="/who"><div class="nav_footer_button_option back">&lt;&nbsp;Back</div></a>

				</div>

				<div class="nav_footer_btn_buffer"></div>

			</div>

		</div>	
	</div>		
		
	<script src="https://code.jquery.com/jquery.js"></script>

	<script src="js/picker.js"></script>
	<script src="js/picker.date.js"></script>
	<script src="js/picker.time.js"></script>
	<script src="js/datetime.js"></script>
	<script src="js/when_JS.js"></script>

</body>
</html>





